{
    "env": {
        "development": {
            "presets": [
                ["env", {
                    "modules": false,
                    "useBuiltIns": true,
                    "targets": {
                        "chrome": 60
                    }
                }]
            ],
            "plugins": [
                "syntax-dynamic-import",
                ["import", {
                    "libraryName": "antd",
                    "style": "css"
                }],
                ["@babel/plugin-transform-runtime"]
            ]
        },
        "production": {
            "presets": [
                ["env", {
                    "modules": false,
                    "useBuiltIns": true,
                    "targets": {
                        "ie": 10
                    }
                }]
            ],
            "plugins": [
                "syntax-dynamic-import",
                ["import", {
                    "libraryName": "antd",
                    "style": "css"
                }]
            ]
        }
    }
}
